[data-hero-heading]{
    background-color: #ff0000;
    background-image: linear-gradient(45deg, red, blue);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.hero-camera {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(0, 0%, 17%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .hero-camera:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  .hero-camera svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  .hero-camera:hover svg {
    transform: scale(2) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .hero-camera:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  .hero-camera:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }

  [data-hero-input]{
    outline: none;
    border: none;
  }
[data-hero-input]:focus{
  outline: none;
  
}
.hero-anime-1{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 30% 70% 57% 43% / 30% 30% 70% 70% ;
  transition: all 5s ease-in;
  animation: anime-1 5s infinite alternate ease-in-out;
  transform: translateX(-100px) translateY(-100px);
  z-index: -1;
  left: 0;
}
.hero-anime-2{
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 30% 70% 57% 43% / 30% 30% 70% 70% ;
  transition: all 5s ease-in;
  animation: anime-2 4s infinite alternate ease-in-out;
  right: -50px;
  z-index: -1;
}

@keyframes anime-1 {
  0%{
    border-radius: 30% 70% 57% 43% / 30% 30% 70% 70% ;
    transform: translateX(-100px) translateY(-100px);
  }
  100%{
    border-radius: 52% 48% 84% 16% / 61% 71% 29% 39% ;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes anime-2 {
  0%{
    border-radius: 30% 70% 57% 43% / 30% 30% 70% 70% ;
  }
  100%{
    border-radius: 52% 48% 84% 16% / 61% 71% 29% 39% ;
  }
}
.responsive-input{
  background-color: transparent;
  font-size: 5vh;
  width: 600px;
  font-family: repo-bold;
}
@media (max-width: 600px) {
  .responsive-input {
    font-size: 4vh; 
    max-width: 100%;
    width: 100%;
    margin-top: 10px;  
  }
}
@media (max-width: 900px) {
  .hero-anime-2{
    display: none;
  }
  .hero-anime-1{
    left: 20%;
  }
}
